* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* color: whitesmoke; */
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

a:hover {
  color: #f64f64;
}

h1 , h3 {
    background-color: beige;
    padding:15px;
    text-align:center;
}

.menu {
    display: flex;
    width: 100%;
    height: 100px;
    background-color:#e5e5e5;
}

.menu-banner {
  height: 100px;
  padding: 0px 10px;
  display: flex;
}

.logo-img {
  height: 80px;
  width: 200px;
  margin: auto;
}

.menu-left {
  display: inline-flex;
}

.menu-right {
  display: inline-flex;
  margin: auto 10% 0px auto;
  font-weight: 600;
}


.left {
    float:left;
    width:30%;
    padding:20px;
    margin-top:7px;
    text-align:center;
    background-color: #00bf80;
}

.left a {
    padding:8px;
    margin-top:7px;
    display:block;
    width:10;
    color:white;
    font-weight: 600;
    text-decoration: underline;
  }

.main {
  overflow-y: scroll;
    float:left;
    width:70%;
    padding:20px;
    margin-top: 7px;
    text-align: center;
    background-color: whitesmoke;
    height: calc(100vh - 107px);
}

.loginForm {
  text-align: center;
  float: right;
}


@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .left {
      width:100%;
    }
  }

  .items {
    text-align: center;
    display: block;
    text-align: center;
}

.item {
    display: inline-block;
    background-color: #CCC;
    border-radius: 10px;
    margin: 10px;
    
}

.inner-item {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 15px;
    border: 1px solid black;
    background-color: white;
}

.item-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.sliderPoint {
  display: inline-block;
  width: calc(95% /3);
  margin: 0px auto;
}

.pTxtLeft{
  text-align: left;
  margin: 0px auto;
}

.pTxtRight{
  text-align: right;
  margin: 0px auto;
}

.pTxtCenter{
  margin: 0px auto;
}

.sliderEntry {
  padding-bottom: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.txtArea {
  text-align: left;
  /*margin: 50px 550px 50px 550px; */
  margin: 5% 30% 5% 30%;
  font-size: 20px;
  min-width: 300px;
}